/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {-webkit-font-smoothing: antialiased;
  font-family: inherit;
  line-height: inherit;
  --tw-bg-opacity: 1;
   margin: 0px;
  overflow: hidden;
  background:#fff;

}
.major1 {
  max-width: 1500px;
  margin: 0 auto;
}
.nav-bar {
  color: #384a62;
  position: absolute;
  top: 79px;
  z-index: 20;
  width: 100%
  left 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin: 45px;
}

.navdiv1 {
  padding: 0 20px;
  font-size: 14.5px;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.navdivbaby1 {
  max-width: 140px;
  flex-shrink:0;
}

.navbaby1-achor {
  color: inherit;
  text-decoration: inherit;

}
.divanchor {
  align-items: center;
  display: flex;

}

.image-anchorprintivo {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;

}

.navdivbaby2 {
  margin-top: 20px;
  display: flex;
}

.nav-list {
  display: flex;
  margin-right: 1.5rem;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.all-list {
  padding-bottom: 20px;
  margin-right: 1.5rem;
}
.products {
  display: inline-block;
  transition: color .2s;
  color: #384a62;
  text-decoration: none;
}



.divpostioning {
  background: rgba(0, 0, 0, .3);
  position: fixed;
 }


.header2 {
  width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12.9px;
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
    --tw-bg-opacity:1;
    --tw-text-opacity:1;
    background-color: rgb(247, 246, 244);
    color:rgba(80,102,131);
 }

  .container {
  max-width: 1200px;
padding-left: 20px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;

 }

 .container2 {
  justify-content: center;
  display: flex;
  height: 3rem;
  width: 100%;

 }

 .container3 {
  display:flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 30px;

 }

 .container4left { display: flex;
  width: 50%;
    align-items: center;
    justify-content: flex-start;


 }


.one {
  text-decoration: none;
  margin-right: 3rem;
  color: inherit;
  
}

.two {
  text-decoration: none;
  color: inherit;

}

.container-right1 {
  justify-content: flex-end;
  align-items: center;
  display: flex
}
.container-righttwin {
  padding-left: .25rem;
  margin-left: 200px;

}
.three {
  display: inline;
  }

.call-link {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color:#1da1f2 ;

}

.whatsappicon {
  padding-left: .5rem;
  align-items: center;
  display: flex
}

.whatsappimg {
  max-width: 100%;
  height: auto;
  display:block;
  }

.nigicon{
  border: 1px solid #cbcac8;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 12px;
  cursor: pointer;
  line-height: 0;
  display: block;
  display: flex;
  align-items: center;

  
}

